html {
    background-color: gainsboro;
}
/*copy from here to next comment for header style*/
header {
    font-family: Verdana, Geneva, sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightsteelblue;
}
li {
    float: left;
    color: darkslategrey;
    text-align: center;
    font-weight: bold;
    padding: 15px 16px;
}
li a {
    text-decoration: none;
    display: block;
}
li a:visited {
    color: darkslategray;
    text-decoration: none;
}
li a:visited:hover {
    background-color: midnightblue;
    color: gainsboro;
}
li:hover {
    background-color: midnightblue;
    color: gainsboro;
}
/*copy from here to first comment for header style*/
.text {
    font-family: Arial, Helvetica, sans-serif;
}